.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.chatRoot {
    flex: 1;
    display: flex;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 5px;
}


.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(108.78% 108.78% at 50.02% 19.78%, #FFFFFF 57.29%, #EEF6FE 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}


.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatEmptyStateTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    line-height: 24px;
    margin-top: -120px;
    margin-bottom: 0px;
}

.chatEmptyStateSubtitle {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.01em;
    color: #616161;
}
 .citationchatContainerinnercontainerup
{   flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    border-radius: 8px;    
    max-height: calc(100vh - 100px);
    position: absolute;
    top: 75px;
    left: 761px;
}

  
  .chatContainerinnercontainerup {
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    border-radius: 8px;    
    max-height: calc(100vh - 100px);
    position: absolute;
    left: 968px;
    bottom: 0;
  }

  .citationchatContainerinnercontainer
{
    top: 70px;
    left: 38px;
    flex: 1;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(108.78% 108.78% at 50.02% 19.78%, #FFFFFF 57.29%, #EEF6FE 100%);
    box-shadow: 0 2px 4px #00000024, 0 0 2px #0000001f;
    border-radius: 8px;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    position: absolute;
   
    bottom: 0;
    background-color: #fff;
    border: 1px solid #cccccc;
}
  .chatContainerinnercontainer {
    flex: 1;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(108.78% 108.78% at 50.02% 19.78%, #FFFFFF 57.29%, #EEF6FE 100%);
    box-shadow: 0 2px 4px #00000024, 0 0 2px #0000001f;
    border-radius: 8px;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    position: absolute;
    top: 60px;
    left: 242px;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #cccccc;
  }

    


  .faqstacklefttext {
    position: absolute;
    top: -69px;
    right: 568px;
    width: max-content;
    background-color: #f0f0f0;   
    font-size: 13px;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    
  }
  
  .chatEmptyStateIcon {
    position: absolute;
    top: 34px;
    left: -25px;
    bottom: 152px;
    height: 60px;
}

  .faqstackrightup {
    position: absolute;
    top: -70px;
    right: 10px;
    width: max-content;
    background-color: #f0f0f0;
    padding: revert;
    font-size: 13px;
    font-family: Arial;
    display: flex;
    flex-direction: column;

  }
  
  .faqstackh3 {
    font-size: 13px;
    margin-bottom: 10px;
    align-content: center;
  }
  
  .faqstackul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: smaller;
  }
  
  .faqstackli {
    margin-bottom: 5px;
  }

  .faqstackup {
    margin-bottom: -12px;
}
  

.chatEmptyStateBelowSubtitle {
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.01em;
    color: #616161;
}

.chatIcon {
    height: 62px;
    width: auto;
}

.chatMessageStream {
    flex-grow: 1;
    max-width: 1028px;
    width: 100%;
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.chatMessageUser {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.chatMessageUserMessage {
    display: flex;
    padding: 20px;
    background: #EDF5FD;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #242424;
    order: 0;
    flex-grow: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 80%;
}

.chatMessageGpt {
    margin-bottom: 12px;
    max-width: 80%;
    display: flex;
}

.chatMessageError {
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(182, 52, 67, 1) 1px 1px 2px, rgba(182, 52, 67, 1) 0px 0px 1px;
    color: #242424;
    flex: none;
    order: 0;
    flex-grow: 0;
    max-width: 800px;
    margin-bottom: 12px;
}

.chatMessageErrorContent {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: pre-wrap;
    word-wrap: break-word;
    gap: 12px;
    align-items: center;
}

.chatInput {
    position: sticky;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: calc(100% - 100px);
    max-width: 1028px;
    margin-bottom: 50px;
    margin-top: 8px;
}

.clearChatBroom {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    left: -42px;
    top: 39px;
    color: #FFFFFF;
    border-radius: 4px;
    z-index: 1;
}

.clearChatBroomNoCosmos {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 40px;
    height: 40px;
    left: -43px;
    top: 66px;
    color: #fff;
    border-radius: 4px;
    z-index: 1;
}

.newChatIcon {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 7px;
    top: 66px;
    color: #FFFFFF;
    border-radius: 4px;
    z-index: 1;
}

.stopGeneratingContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    gap: 4px;
    position: absolute;
    width: 161px;
    height: 32px;
    left: calc(50% - 161px/2 + 25.8px);
    bottom: 116px;
    border: 1px solid #D1D1D1;
    border-radius: 16px;
}

.stopGeneratingIcon {
    width: 14px;
    height: 14px;
    color: #424242;
}

.stopGeneratingText {
    width: 103px;
    height: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #242424;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.citationPanel {

    position: absolute;
    top: 67px;
    right: 0px;
    width: 300px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px;
    gap: 8px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    flex: auto;
    order: 0;
    align-self: stretch;
    flex-grow: 0.3;
    max-width: 30%;
    overflow-y: scroll;
    max-height: calc(100vh - 100px);
}

.citationPanelHeaderContainer {
    width: 100%;
}

.citationPanelHeader {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.citationPanelDismiss {
    width: 18px;
    height: 18px;
    color: #424242;
}

.citationPanelDismiss:hover {
    background-color: #D1D1D1;
    cursor: pointer;
}

.citationPanelTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #323130;
    margin-top: 12px;
    margin-bottom: 12px;
} 

.citationPanelTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.citationPanelContent {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
} 

a {
    padding-left: 5px;
    padding-right: 5px;
}

.viewSourceButton {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #115EA3;
    flex-direction: row;
    align-items: center;
    padding: 4px 6px;
    gap: 4px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
}

.viewSourceButton:hover {
    text-decoration: underline;
    cursor: pointer;
}
.chatRootoutercontainer
{
    right:10px;
}

@media only screen  and  (max-width: 1500px) {
   
    .chatContainerinnercontainerup
    {
        left: 462px;
        top: 71px;
    }
    .chatEmptyStateIcon
    {
        top: -69px;
        left: -217px;
        bottom: 152px;
        height: 60px;
    }
    .faqstacklefttext
    {
        top: -69px;
        right: 666px;
    }
    .clearChatBroomNoCosmos
    {
        left: -43px;
        top: 14px;
    }
}

@media only screen  and  (max-width: 1479px) {
    .faqstacklefttext
    {
        top: -69px;
        right: 655px;
    }
}

@media only screen  and  (max-width: 1462px) {
    .faqstacklefttext
    {
        top: -69px;
        right: 644px;
    }
}

@media only screen  and  (max-width: 1438px) {
    .faqstacklefttext
    {
        top: -69px;
        right: 637px;
    }
}
@media only screen  and  (max-width: 1422px) {
    .faqstacklefttext
    {
        top: -69px;
        right: 629px;
    }
}
@media only screen  and  (max-width: 1407px) {
    .faqstacklefttext
    {
        top: -69px;
        right: 624px;
    }
}

@media only screen  and  (max-width: 1400px) {
   
    .citationPanel
    {
        
        right: 113px;
    }
    .newChatIcon
    {
        left: -41px;
    }
   .chatContainerinnercontainerup
   {
        right: 0px;
        bottom: 0px;
        left: 975px;
        top: 76px;
    
   }
   .chatContainerinnercontainer
   {
    top: 70px;
    left: 242px;
   }
.faqstacklefttext
{    
    top: -63px;
    right: 1135px;
}
.chatEmptyStateIcon
{
    position: absolute;
    top: -59px;
    left: -729px;
    height: 60px;
}
.faqimg
{
    height: 80px;
}

.faqstackrightup
{
    top: -63px;
    right:  540px;
    
}
.chatEmptyStateTitle
{
    
    display: flex;
    align-items: flex-end;
    text-align: center;
    line-height: 24px;
    margin-top: -120px;
}

.clearChatBroomNoCosmos
{
    top:0px
}
}

@media only screen  and  (max-width: 1398px) {
   
    .chatContainerinnercontainerup
    {
      top:75px;
    }
  
  }

@media only screen  and  (max-width: 1393px) {
   
.newChatIcon
{
    top: 83px;
}
.clearChatBroomNoCosmos
{
    top:33px
}
}

  @media only screen  and  (max-width: 1390px) {
   
  
    .faqstacklefttext
    {
        right:1120px;
    }
}


  @media only screen  and  (max-width: 1384px) {
   
  
    .faqstacklefttext
    {
        right:1140px;
    }
}
@media only screen  and  (max-width: 1372px) {
   
  
    .faqstacklefttext
    {
        right:1119px;
    }
}

@media only screen  and  (max-width: 1360px) {
   
  
    .faqstacklefttext
    {
        right:1110px;
    }
}
@media only screen  and  (max-width: 1350px) {
   
  
    .faqstacklefttext
    {
        right:1100px;
    }
}

@media only screen  and  (max-width: 1332px) {
   
  
    .faqstacklefttext
    {
        right:1088px;
    }
}
@media only screen  and  (max-width: 1312px) {
   
  .citationPanel
  {
    right: 100px;
  }
    .faqstacklefttext
    {
        right:1083px;
    }
}

@media only screen  and  (max-width: 1281px) {
   
  
    .citationPanel
    {
        right:88px;
    }
}
@media only screen  and  (max-width: 1293px) {
   
  
    .faqstacklefttext
    {
        right:1076px;
    }
}

@media only screen  and  (max-width: 1273px) {
   
  
    .faqstacklefttext
    {
        right:1066px;
    }
}
@media only screen  and  (max-width: 1253px) {
   
  
    .faqstacklefttext
    {
        right:1057px;
    }
}
@media only screen  and  (max-width: 1233px) {
   
  .citationPanel
  {
   right: 64px;
  }
    .faqstacklefttext
    {
        right:1043px;
    }
}
@media only screen  and  (max-width: 1213px) {
   
  
    .faqstacklefttext
    {
        right:1036px;
    }
}
@media only screen  and  (max-width: 1193px) {
   
  
    .faqstacklefttext
    {
        right:1023px;
    }
    .faqstackrightup{
        right: 556px;
    }
}
@media only screen  and  (max-width: 1173px) {
   
    .citationPanel
    {
        right: 58px;
    
    }
  
    .faqstacklefttext
    {
        right:1008px;
    }
}

@media only screen  and  (max-width: 1160px) {
   
  
    .citationPanel
    {
        right:51px;
    }
}
@media only screen  and  (max-width: 1153px) {
   
  
    .faqstacklefttext
    {
        right:1006px;
    }
}

@media only screen  and  (max-width: 1133px) {
   
  
    .faqstacklefttext
    {
        right:987px;
    }
}
@media only screen  and  (max-width: 1130px) {
   
  
    .citationPanel
    {
        right:40px;
    }
}
@media only screen  and  (max-width: 1109px) {
   
  
    .citationPanel
    {
        right: 34px;
    }
}


@media only screen  and  (max-width: 1093px) {
   
  
    .faqstacklefttext
    {
        right:974px;
    }
}
@media only screen  and  (max-width: 1089px) {
   
  
    .citationPanel
    {
        right:23px;
    }
}

@media only screen  and  (max-width: 1073px) {
   
  
    .faqstacklefttext
    {
        right:964px;
    }
    .faqstackrightup
    {
        right: 577px;
    }
}

@media only screen  and  (max-width: 1053px) {
   
  
    .faqstacklefttext
    {
        right:954px;
    }
}
@media only screen  and  (max-width: 1044px) {
   
  
    .citationPanel
    {
        right: 14px;
    }
}
@media only screen  and  (max-width: 1033px) {
   
  
    .faqstacklefttext
    {
        right:944px;
    }
}
@media only screen  and  (max-width: 1089px) {
   
  
    .citationPanel
    {
        right:4px;
    }
}
@media only screen  and  (max-width: 1024px) {
   
     /* .citationPanel{
        top: 67px;
        right: 35px;
        width: 27%;
} */
}
@media only screen  and  (max-width: 1013px) {
   
  
    .faqstacklefttext
    {
        right:934px;
    }
}
@media only screen  and  (max-width: 993px) {
   
  
    .faqstacklefttext
    {
        right:924px;
    }
}
@media only screen  and  (max-width: 987px) {
   
  
   .citationPanel
    {
        width: 275px;
    }
}
@media only screen  and  (max-width: 960px) {
   
    /* .citationPanel
    {
       top: 67px;
        right: 12px;
        width: 27%;
    } */
}
@media only screen  and  (max-width: 973px) {
   
  
    .faqstacklefttext
    {
        right:914px;
    }
    .faqstackrightup{
        right: 588px;
    }
}
@media only screen  and  (max-width: 953px) {
   
  
    .faqstacklefttext
    {
        right:904px;
    }
}
@media only screen  and  (max-width: 933px) {
   
  /* .citationPanel
  {
    top: 67px;
        right: 17px;
        width: 27%;
  } */
    .faqstacklefttext
    {
        right:894px;
    }
}
@media only screen  and  (max-width: 917px) {
   
  
    .citationPanel
    {
        width: 250px;
    }
}
@media only screen  and  (max-width: 913px) {
   
  
    .faqstacklefttext
    {
        right: 894px;
    }
}
@media only screen  and  (max-width: 893px) {
   
  
    .faqstacklefttext
    {
        right: 919px;
        font-size: 11px;
        top: -53px;
    }
    .faqstackrightup
    {
        top: -53px;
        right: 600px;
        font-size: 11px;
    }
    .chatEmptyStateIcon
    {
        position: absolute;
        top: -52px;
        left: -725px;
        height: 50px;
    }
}
@media only screen  and  (max-width: 873px) {
   
  
    .faqstacklefttext
    {
        right:910px;
    }
}
@media only screen  and  (max-width: 853px) {
   
  
    .faqstacklefttext
    {
        right:900px;
    }
}
@media only screen  and  (max-width: 843px) {
   
  
    .faqstacklefttext
    {
        right:890px;
    }
}
@media only screen  and  (max-width: 838px) {
    .citationPanel
    {
        width: 230px;
    }
}
@media only screen  and  (max-width: 823px) {
   
  .newChatIcon
  {
    top:94px;
  }
    .faqstacklefttext
    {
        right:880px;
    }
    .chatEmptyStateTitle
    {
        margin-top: -124px;
    }
    .clearChatBroomNoCosmos{
        top: 44px;
}
}
@media only screen  and  (max-width: 803px) {
    .faqstacklefttext
    {
        right:873px;
    }
}
@media only screen  and  (max-width: 790px) {
    .faqstacklefttext
    {
        right:869px;
    }
}
@media only screen  and  (max-width: 785px) {
    .citationPanel
    {
       width: 205px;
    }
}

@media only screen  and  (max-width: 777px) {
    .faqstacklefttext
    {
        font-size: 10px;
        top: -47px;
        right: 882px;
    }
    .faqstackrightup
    {
        top: -47px;
        right: 615px;
        font-size: 10px;

    }
    .chatEmptyStateIcon
    {
        top: -42px;
        left: -723px;
        height: 40px;
    }
    .chatEmptyStateTitle
    {
        margin-top: -98px;
        font-size: 27px;
    }
}
@media only screen  and  (max-width: 752px) {
    .citationPanel
    {
        
        right: 0px;
    }
}
@media only screen  and  (max-width: 757px) {
    .faqstacklefttext
    {
        
        right: 877px;
    }
}

@media only screen  and  (max-width: 747px) {
    .faqstacklefttext
    {
        
        right: 867px;
    }
}
@media only screen  and  (max-width: 725px) {
    .faqstacklefttext
    {
        
        right: 861px;
    }
}

@media only screen  and  (max-width: 713px) {
    .faqstacklefttext
    {
        
        right: 854px;
    }
}

@media only screen  and  (max-width: 713px) {
    .citationPanel{
        right: 6px;
        width: 193px;
    }
}
@media only screen  and  (max-width: 700px) {
   .chatEmptyStateIcon
   {
        top: -35px;
        left: -728px;
        height: 33px;
   }
    .faqstacklefttext
    {
        font-size: 9px;
        top: -39px;
        right: 879px;
    }
    .faqstackrightup
    {
        top: -39px;
        right: 628px;
        font-size: 9px;
    }
    .chatEmptyStateTitle
    {
       font-size: 23px;
    }
    .chatEmptyStateSubtitle
    {
        font-size: 14px;
    }
    .chatEmptyStateBelowSubtitle
    {
        font-size: 14px;
    }
}
@media only screen  and  (max-width: 689px) {
    .faqstacklefttext
    {
        
        right: 873px;
    }
}
@media only screen  and  (max-width: 677px) {
    .faqstacklefttext
    {
        
        right: 864px;
    }
}
@media only screen  and  (max-width: 660px) {
    .faqstacklefttext
    {
        
        right: 857px;
    }
}
@media only screen  and  (max-width: 647px) {
    .faqstacklefttext
    {
        
        right: 850px;
    }
}
@media only screen  and  (max-width: 630px) {
    .faqstacklefttext
    {
        
        right: 845px;
    }
}
@media only screen  and  (max-width: 630px) {
    .faqstacklefttext
    {
        
        font-size: 8px;
        top: -33px;
        right: 857px;
    }
    .faqstackrightup
    {
        top: -33px;
        right: 639px;
        font-size: 8px;
    }
    .chatEmptyStateIcon
    {
        top: -31px;
        left: -727px;
        height: 30px;
    }
}
@media only screen  and  (max-width: 606px) {
    .faqstacklefttext
    {
        
        right: 851px;
    }
}
@media only screen  and  (max-width: 597px) {
    .faqstacklefttext
    {
        
        right: 844px;
    }
}
@media only screen  and  (max-width: 580px) {
    .faqstacklefttext
    {
        
        right: 839px;
    }
    .faqstackup
    {
        margin-bottom: -10px;
    }
}
@media only screen  and  (max-width: 570px) {
    .faqstacklefttext
    {
        
        right: 837px;
    }
}
@media only screen  and  (max-width: 565px) {
    .faqstacklefttext
    {
        
        right: 834px;
    }
}

@media only screen  and  (max-width: 559px) {
    .faqstacklefttext
    {
        
        right: 831px;
    }
}
@media only screen  and  (max-width: 551px) {
    .faqstacklefttext
    {
        font-size: 7.5px;
        right: 834px;
    }
}

@media only screen  and  (max-width: 540px) {
    .faqstacklefttext
    {
       
        right: 831px;
    }
}

@media only screen  and  (max-width: 535px) {
    .faqstacklefttext
    {
       
        right: 828px;
    }
}

@media only screen  and  (max-width: 530px) {
    .faqstacklefttext
    {
       font-size: 7px;
        right: 836px;
        top: -30px;
    }
    .faqstackrightup
    {
        top: -30px;
        right: 650px;
        font-size: 7px;
    }
}

@media only screen  and  (max-width: 525px) {
    .faqstacklefttext
    {
right: 832px;
    }
}

@media only screen  and  (max-width: 520px) {
    .faqstacklefttext
    {
right: 829px;
    }
}

@media only screen  and  (max-width: 513px) {
    .faqstacklefttext
    {
      right: 825px;
    }
}
@media only screen  and  (max-width: 505px) {
    .faqstacklefttext
    {
      right: 822px;
    }
}
@media only screen  and  (max-width: 496px) {
    .faqstacklefttext
    {
      right: 818px;
    }
}
@media only screen  and  (max-width: 489px) {
    .faqstacklefttext
    {
      right: 814px;
    }
}












